.container {
    display: flex;
}

main {
    margin-left: 250px;
    flex: 1;
}

.chart {
    margin: 32px 0 0 32px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;

    &-item {
      
        h2 {
            margin-bottom: 8px;
        }
    }
}